<html>
  <body>
    <div style="width: 100%; max-width: 630px; margin: 0px auto">
      <table role="presentation" class="m_-3118396422295751031stb-one-col" style="width: 100%; border: 0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td style="text-align: justify; font-size: 0; box-sizing: border-box; padding: 0px 0px 15px 0px">
              <img
                src="https://ci3.googleusercontent.com/meips/ADKq_NatbFqVXFMZXVNoNcJGFncet3D0y1dHjAhkWp_MhCW-YIkRuM1olIHBv4aq3sbQ_9sBKptJ4qyleL-IEvj4Ap5TZ4qDWztwjVIEmto_-x8JUCzIIkk=s0-d-e1-ft#https://img2.stibee.com/120239_2556024_1733876373089249435.jpeg"
                alt=""
                style="width: 100%; display: inline; vertical-align: bottom; text-align: justify; max-width: 100% !important; height: auto; border: 0"
                width="600"
                class="m_-3118396422295751031stb-justify CToWUd a6T"
                data-bit="iit"
                tabindex="0"
              />
              <div class="a6S" dir="ltr" style="opacity: 0.01; left: 387.714px; top: 208.143px">
                <span data-is-tooltip-wrapper="true" class="a5q" jsaction="JIbuQc:.CLIENT"
                  ><button
                    class="VYBDae-JX-I VYBDae-JX-I-ql-ay5-ays CgzRE"
                    jscontroller="PIVayb"
                    jsaction="click:h5M12e; clickmod:h5M12e;pointerdown:FEiYhc;pointerup:mF5Elf;pointerenter:EX0mI;pointerleave:vpvbp;pointercancel:xyn4sd;contextmenu:xexox;focus:h06R8; blur:zjh6rb;mlnRJb:fLiPzd;"
                    data-idom-class="CgzRE"
                    data-use-native-focus-logic="true"
                    jsname="hRZeKc"
                    aria-label="첨부파일() 다운로드"
                    data-tooltip-enabled="true"
                    data-tooltip-id="tt-c43"
                    data-tooltip-classes="AZPksf"
                    id=""
                    jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTgxODEwMTY0Mjg3MzU2ODAwNSJd; 43:WyJpbWFnZS9qcGVnIl0."
                  >
                    <span class="OiePBf-zPjgPe VYBDae-JX-UHGRz"></span
                    ><span class="bHC-Q" jscontroller="LBaJxb" jsname="m9ZlFb" soy-skip="" ssk="6:RWVI5c"></span
                    ><span class="VYBDae-JX-ank-Rtc0Jf" jsname="S5tZuc" aria-hidden="true"
                      ><span class="notranslate bzc-ank" aria-hidden="true"
                        ><svg viewBox="0 -960 960 960" height="20" width="20" focusable="false" class="aoH">
                          <path
                            d="M480-336L288-528l51-51L444-474V-816h72v342L621-579l51,51L480-336ZM263.72-192Q234-192 213-213.15T192-264v-72h72v72H696v-72h72v72q0,29.7-21.16,50.85T695.96-192H263.72Z"
                          ></path></svg></span
                    ></span>
                    <div class="VYBDae-JX-ano"></div>
                  </button>
                  <div class="ne2Ple-oshW8e-J9" id="tt-c43" role="tooltip" aria-hidden="true"></div
                ></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table role="presentation" class="m_-3118396422295751031stb-one-col" style="width: 100%; border: 1px solid #000000" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td style="text-align: center; font-size: 0; box-sizing: border-box; padding: 15px 15px 0 15px">
              <img
                src="https://ci3.googleusercontent.com/meips/ADKq_NZ_wUgggEFY_PGI1qxzr6nku48nicqLcFO8WopQVg4uOPHImsZ9gRMBYg3j0KfeSlFK8nTHGRFUMjXVWhsQ7pYeLtGDvDLvv59HG94wFXmSfIWAbg=s0-d-e1-ft#https://img2.stibee.com/104091_2255617_1719465106511965347.png"
                alt=""
                style="width: 136px; display: inline; vertical-align: bottom; text-align: center; max-width: 100% !important; height: auto; border: 0"
                width="136"
                class="CToWUd"
                data-bit="iit"
              />
            </td>
          </tr>
          <tr>
            <td
              style="
                word-break: break-all;
                text-align: left;
                margin: 0px;
                line-height: 1.7;
                word-break: break-word;
                font-size: 16px;
                font-family:
                  noto sans kr,
                  noto sans cjk kr,
                  noto sans cjk,
                  Malgun Gothic,
                  apple sd gothic neo,
                  nanum gothic,
                  malgun gothic,
                  dotum,
                  arial,
                  helvetica,
                  Meiryo,
                  MS Gothic,
                  sans-serif !important;
                color: #000000;
                padding: 20px 15px 0 15px;
              "
            >
              <p style="text-align: center">안녕하세요 {{userName}}님!</p>
              <p style="text-align: center"><span>{{userName}}님이 작성하신 {{type}}에 새로운 댓글이 등록되었습니다.</span></p>
              <p style="text-align: center"><span>어떤 댓글이 달렸는지 지금 바로 확인해보세요!</span></p>
            </td>
          </tr>
          <tr>
            <td width="100%" style="clear: both">
              <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                <tbody>
                  <tr>
                    <td style="padding: 20px 15px 15px 15px; border: 0; width: 100%; text-align: center">
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="
                          color: #f6f4f0;
                          background: #6269f5;
                          border-radius: 3px;
                          box-sizing: border-box;
                          text-decoration: none;
                          outline: 0px;
                          font-family:
                            noto sans kr,
                            noto sans cjk kr,
                            noto sans cjk,
                            Malgun Gothic,
                            apple sd gothic neo,
                            nanum gothic,
                            malgun gothic,
                            dotum,
                            arial,
                            helvetica,
                            Meiryo,
                            MS Gothic,
                            sans-serif;
                          text-align: center;
                          display: inline-table;
                        "
                      >
                        <tbody>
                          <tr>
                            <td style="font-size: 0; background: none; border-radius: 3px; padding: 19px 20px; text-align: center" valign="top">
                              <a
                                href="{{originUrl}}"
                                style="
                                  font-size: 16px;
                                  display: inline-block;
                                  color: #f6f4f0;
                                  text-decoration: none;
                                  outline: 0px;
                                  font-family:
                                    noto sans kr,
                                    noto sans cjk kr,
                                    noto sans cjk,
                                    Malgun Gothic,
                                    apple sd gothic neo,
                                    nanum gothic,
                                    malgun gothic,
                                    dotum,
                                    arial,
                                    helvetica,
                                    Meiryo,
                                    MS Gothic,
                                    sans-serif;
                                  text-align: center;
                                  line-height: 1;
                                  box-sizing: border-box;
                                "
                                >댓글 확인하기</a
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                          <tr></tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table
        role="presentation"
        class="m_-5234628840313133977stb-one-col"
        style="width: 100%; background: #6269f5; border: 0; margin-top: 15px"
        cellpadding="0"
        cellspacing="0"
      >
        <tbody>
          <tr>
            <td
              style="
                word-break: break-all;
                text-align: left;
                margin: 0px;
                line-height: 1.7;
                word-break: break-word;
                font-size: 16px;
                font-family:
                  noto sans kr,
                  noto sans cjk kr,
                  noto sans cjk,
                  Malgun Gothic,
                  apple sd gothic neo,
                  nanum gothic,
                  malgun gothic,
                  dotum,
                  arial,
                  helvetica,
                  Meiryo,
                  MS Gothic,
                  sans-serif !important;
                color: #000000;
                padding: 25px 25px 5px 25px;
              "
            >
              <div>
                <span style="color: #ffffff"
                  ><span style="font-size: 20px"><span style="font-weight: bold">더 나은 사회복지생태계,</span></span></span
                >
              </div>
              <div>
                <span style="font-size: 20px; color: #ffffff"
                  ><span style="font-weight: bold"
                    >함께 만들어주세요<img
                      data-emoji="💪"
                      class="an1"
                      style="height: 1.2em; width: 1.2em; vertical-align: middle"
                      alt="💪"
                      aria-label="💪"
                      draggable="false"
                      src="https://fonts.gstatic.com/s/e/notoemoji/15.1/1f4aa/72.png"
                      loading="lazy" /></span
                ></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table width="100%" cellpadding="0" cellspacing="0" style="border: 0">
        <tbody>
          <tr>
            <td
              style="
                text-align: center;
                margin: 0px;
                line-height: 1.7;
                word-break: break-word;
                font-size: 12px;
                font-family:
                  noto sans kr,
                  noto sans cjk kr,
                  noto sans cjk,
                  Malgun Gothic,
                  apple sd gothic neo,
                  nanum gothic,
                  malgun gothic,
                  dotum,
                  arial,
                  helvetica,
                  Meiryo,
                  MS Gothic,
                  sans-serif !important;
                color: #747579;
                border: 0;
              "
            >
              <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                <tbody>
                  <tr>
                    <td style="padding: 15px 15px 15px 15px; text-align: center">
                      <div>
                        <span style="color: #747579; font-size: 12px">NEEDU</span><br /><a href="mailto:needu.sw@gmail.com" target="_blank"
                          >needu.sw@gmail.com</a
                        ><br />070-7954-4468
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
